<%- include("./partials/header") %>


<div class="container">
	<div class="input-group md-form form-sm form-2 pl-0" style="padding-bottom:20px;">
	  <input class="form-control my-0 py-1 lime-border" type="text" placeholder="Search" aria-label="Search">
	  <div class="input-group-append">
	    <span class="input-group-text lime lighten-2" id="basic-text1"><i class="fas fa-search text-grey"
	        aria-hidden="true"></i></span>
	  </div>
	</div>

	<div class="card bg-dark text-white" id="img-card">
	  <img src="https://i.pinimg.com/originals/77/a3/9a/77a39ac75b284ee6bcc900fd596ed328.jpg" class="card-img" alt="...">
	  <div class="card-img-overlay">
	    <h5 class="card-title" style="color:#600080"><b>Education4ol</b></h5>
	    <p class="card-text" style="color:#600080">Learn | Teach | Repeat</p>

	  </div>
	</div>






<!-- //------------------------------------------------------------------------------------------ -->
<%for(var i = 0 ; i<5 ; i++){ %>





	<div class="card2">
			<div class="card ">
	  <h5 style="color:white;" class="card-col card-header">Latest | Publised : <%=arti[i].publishedAt%> | <span class="badge badge-secondary">By:<%=arti[i].author%></span></h5>
	  <div class="card-body">
		  <img src="<%=arti[i].urlToImage%>" class="rounded cover float-left" />
	    <h5 class="card-title"><%=arti[i].title%></h5>
	    <p class="card-text"><%=arti[i].content%></p>
	    <a href= "<%=arti[i].url%>" class="btn btn-primary">Detail</a>
		  <a href="<%=arti[i].url%>" class="btn btn-primary">View</a>

	  </div>
	</div>

		</div>
<%}%>


	<div id="achivement">
	<div class="square">learn</div>
	<div class="square">Teach</div>
	<div class="square">Repeat</div>
	<div class="square"></div>
	<div class="square"></div>
	<div class="square"></div>
</div>







</div>


</div>
