<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <title>Hello, world!</title>

  </head>
  <body>
	  <nav class="navbar navbar-light" style="background-color: #600080;color:white ; text-align: center">
    <h2 style="text-align: center" style="color:white">Result Dashboard</h2>
	  </nav>
	  
	  
		  <div class="container" style="width: 400px ; height: 400px;">
    <canvas style="padding-top: 10px;"id="myChart" width="400" height="400"></canvas>
  </div>
	  
   

<div class="container">
  <div class="card shadow p-3 mb-5  rounded" style="text-align:center ;background-color:#600080; color:white; font-family: 'Acme', sans-serif;">
    <div class="card-body">
      <b>Remark : </b><span id="remark"></span>
    </div>
  </div>
</div>

	<div>
  <%for(let i = 0 ; i<10 ; i++){%>
  <%  if(tf[i]==="true"){%>
      <div class="container" style="padding-top: 10px;">
      <div class="card" style="background-color: #288a33; color:white">
          <div class="card-body">
            <h5 class="card-title"><%=data[i].question%></h5>
            <p class="card-text">Ans : <%=data[i].options[data[i].answers]%></p>


          </div>
        </div>
      </div>
    <%}else{%>

      <div class="container" style="padding-top: 10px;">
      <div class="card" style="background-color: #9e0010; color:white">
          <div class="card-body">
            <h5 class="card-title"><%=data[i].question%></h5>
            <p class="card-text">Ans : <%=data[i].options[data[i].answers]%></p>

          </div>
        </div>
      </div>

      <%}%>

  <%}%>
	  </div>

<div class="container" style="padding-top:30px;padding-bottom:20px;">
	
	
	
	<div class="d-grid gap-2">
  <button class="btn btn-primary" type="submit" style="background-color:#600080 ;width:100% ; color:white"><a href="/" style="color:white"><b>Continue</b></a></button>

</div>
	
	  </div>
    <script>

    var rit_ans = '<%-cor%>';
    if(rit_ans>=8){
      document.getElementById("remark").innerHTML="whoo Outstanding progress Man!"
    }else if(rit_ans>=5){
      document.getElementById("remark").innerHTML="Great work! Scope to Improve!"
    }else if(rit_ans>=3){
      document.getElementById("remark").innerHTML="Good work! Work Harder!"
    }else{
      document.getElementById("remark").innerHTML="Hmmmm! You really need to work more Harder :)"
    }


    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Right', 'Wronge', 'Not Attempted'],
            datasets: [{
                label: '# of Votes',
                data: ['<%-cor%>', '<%-incor%>', 0],
                backgroundColor: [
                    'rgb(49, 176, 64)',
                    'rgb(204, 10, 26)',
                    'rgb(255, 206, 86)',

                ],

                borderWidth: 1
            }]
        },

    });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>


  </body>
</html>
